@font-face {
    font-family: $fontFamilyRobotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: $fontFamilyRalewayExtraBold;
    src: url(../fonts/Raleway/static/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: $fontFamilyRalewaySemiBold;
    src: url(../fonts/Raleway/static/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: $fontFamilyRalewayLight;
    src: url(../fonts/Raleway/static/Raleway-Light.ttf);
}

@font-face {
    font-family: $fontFamilyRalewayMedium;
    src: url(../fonts/Raleway/static/Raleway-Medium.ttf);
}

@font-face {
    font-family: $fontFamilyRalewayRegular;
    src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
    font-family: $fontFamilyRalewayBold;
    src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: $fontFamilyPlayFairDisplayBold;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: $fontFamilyPlayFairDisplayRegular;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}