.portfolio {
    label {
        cursor: pointer;
    }
}

.portfolioTabs {
    input {
        display: none;

        @for $i from 1 through 3 {
            &[id="portfolio#{$i}"]:checked {
                &~.portfolioTabs#{$i} {
                    display: flex;
                }
            }
        }
    }

}

.portfolio__label {
    label {
        @include flexbox(none, center, center);
        font-family: $fontFamilyRalewayLight;
        color: $portfolioMainColor;
        transition: text-shadow .5s, border-color .5s;
        letter-spacing: 1px;
        border-bottom: 1px solid transparent;
    }
}

.portfolioTabs__main {
    display: none;
    overflow: hidden;

    input {
        display: none;

        &:checked+label {
            box-shadow: inset 0 0 0 $portfolioTabsMainBoxShadowColor;

            .portfolioTabs__text {
                opacity: 0;
            }

            .portfolioTabs__hover {
                opacity: 1;
            }
        }
    }

    .portfolio__tabs {
        height: 100%;
        overflow: hidden;
        transition: flex-basis .5s, box-shadow .5s;
        @include flexbox(column, space-between, none);
        position: relative;

        .portfolioTabs__hover {
            opacity: 0;
            transition: opacity .5s;
            position: absolute;
            top: 0;
            left: 0;
            @include blockSize(100%, 100%);
            @include flexbox(none, center, center);

            .portfolioTabs-hoverMain {
                @include flexbox(none, center, center);
                border-radius: 50%;
                background-color: $portfolioHoverMainBgColor;
                box-shadow: $portfolioHoverMainBoxShadow;

                i {
                    color: $portfolioHoverMainIconColor;
                }
            }
        }

        .portfolioTabs__title {
            font-family: $fontFamilyRalewaySemiBold;
            color: rgb(255, 255, 255);
            line-height: 1.2;
        }

        .portfolioTabs__text {
            font-family: $fontFamilyRobotoRegular;
            color: rgb(255, 255, 255);
            transform-origin: left center;
            transform: rotateZ(-90deg);
            letter-spacing: 1px;
            transition: opacity .5s;
        }
    }
}